<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Randomizer.Generator.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Randomizer.Generator.Win.Properties.Settings>
            <setting name="GeneratorDirectory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>%AppData%\Randomizer.Generator\Definitions</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="TextEditorArgs" serializeAs="String">
                <value>"{filename}"</value>
            </setting>
            <setting name="DefaultRepeat" serializeAs="String">
                <value>10</value>
            </setting>
        </Randomizer.Generator.Win.Properties.Settings>
    </userSettings>
</configuration>