<div class="col-12">
    <h3>Using the Site</h3>
    <h5>Filtering Generators</h5>
    <div>
        You can filter generators by tag and name.
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            Tags
        </div>
        <div class="card-body">
            Selecting tags at the top of the page will filter for generators that have those tags.  This is an inclusive search so if you select 2
            tags, all generators that have either of those tags will show.
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            Search
        </div>
        <div class="card-body">
            The name search will return all generators who's name contains the entered text.  For example, 'name' will match all of the following 'Fantasy Name', 'Name of Bad Guy', 'This Name Generator'.
        </div>
    </div>
</div>