@page
@model Randomizer.Generator.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>About The Randomizer</h1>
<div class="fw-bold">By Lance Boudreaux</div>
The Randomizer is the infinitely customizable random content generator.  
This website presents some of the definitions created for the Randomizer to be used by anyone.
If you have a definition you would like to see on the site, please visit the GitHub repository and submit it according to the details there.
<div>
    <a href="https://github.com/melance/Randomizer.Generator" target="_blank">The Randomizer on GitHub</a>&nbsp;<sup class="bi-box-arrow-up-right">
</div>
<div>
    <a href="https://www.reddit.com/r/TheRandomizer/" target="_blank">The Randomizer on Reddit</a>&nbsp;<sup class="bi-box-arrow-up-right">
</div>