/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*
#363237 Dark Purple
#2D4262 Indigo
#73605B Taupe
#D09683 Blushs
*/

#sidebar {
    background-color: #2D4262;
    color: lightgray;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-size: 1.25em;
    padding-left: 0.25em;
}

#sidebar a {
    color: lightgray;
    text-decoration: none;
    display: block;
}

#sidebar ul {
    padding-left: 30px;
}

#sidebar .tag_item {
    font-size: 0.75em;
}

.tooltip-inner {
    max-width: 400px;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

/* Formats for code examples in the help documentation */
span.string {
    color: darkred;
}

span.keyword {
    color: darkgreen;
}

span.operator {
    color: saddlebrown;
}

span.method {
    color: blue;
}

span.simple-code {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 87.5%;
}