<div class="col-12">
    <h3>Overview</h3>
    <div>
        Welcome to The Randomizer, the infinitely customizable content generator. The original intention of the tool was to generate content for
        tabletop roleplaying games and fiction though there are certainly other uses.  The content generation is driven by <i>definitions</i> that are text files in
        a specific format based on <a href="https://hjson.github.io/" target="_blank">HJSON</a>.
    </div>
    <br />
    <div>
        <div>The Randomizer consists of a number of different components:</div>
        <div class="card card-body">
            <div><span class="font-weight-bold">Randomizer.Generator</span> The engine that drives the content generation.</div>
            <div><span class="font-weight-bold">Randomizer.Generator.UI.MVC</span> This website which uses the engine to generate content.</div>
            <div><span class="font-weight-bold">Randomizer.Generator.UI.Terminal</span> A terminal application that works on Windows, Linux, and MacOS.</div>
            <div><span class="font-weight-bold">Randomizer.Generator.CmdLine</span> A Windows command line application that generates content.</div>
            <div><span class="font-weight-bold">Randomizer.Generator.DefinitionConverter</span> A Windows command line application that converts older randomizer generators to the new definition format.</div>
        </div>
    </div>
</div>