<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand">The Randomizer</div>        
        <div class="navbar-text">Help</div>
    </div>
</div>

<div>
    <ul class="flex-column">
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" data-toggle="collapse" role="button" data-target="#subDefinitions">
                <span class="oi oi-plus" aria-hidden="true"></span> Definitions
            </NavLink>
        </li>
        <li id="subDefinitions" class="collapse nav-item px-2">
            <div class="text-light">
                Assignment 
            </div>
         </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    
}
